extends layout.pug

block content
  form(action=continueURL)
    div.formgroup
      label(for="question") Question:
      input.form-control(name="question" required)
    h3 Choose five answers:
    ul
      each i in [1,2,3,4,5]
        li
          p
            label(for=`choice${i}`) Choice #{i}: 
            input.form-control(name=`choice${i}` required)
            label(for="correctIndex") Mark as correct?
            input(name="correctIndex" value=i type="radio" checked)
    input.btn.btn-primary(type="submit" value="Add question")