extends layout.pug

block content
  h2 #{quiz.title}
  h3 Questions
  ul
    each question in quiz.questions
      li #{question.text} -> #{question.answer}
    h4 Add a new question...
    ul
      li
        a(href=`${continueURL}?addQuestion=1&type=free`) free text
      li
        a(href=`${continueURL}?addQuestion=1&type=multiple`) multiple choice
  a(href=`${continueURL}?playQuiz=1`) play quiz